/* ******************************

DROPKICK STYLES

****************************** */

/***** Begin Theme ******/

/* One container to bind them... */
.dk_container {
    margin: 0 10px 0 0;
    font-weight: bold;
    float:left;
}
.dk_container:focus {
    outline: 0;
}
.dk_container a {
    text-decoration: none;
    cursor: pointer;
}

/* Opens the dropdown and holds the menu label */
.dk_toggle {
    padding: 12px 20px;
    background-color:transparent;
    border: solid 3px #222;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    line-height: normal;
    width:auto !important;
    display: inline-block !important;
    font-weight: bold;
}

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
}
.dk_focus .dk_toggle {
}

/* Applied whenever the dropdown is open */
.dk_open {
    z-index: 10;
}
.dk_open .dk_toggle {
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

/* The outer container of the options */
.dk_options {
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.dk_options a {
    padding: 8px 59px 8px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #333;
}
.dk_options li:last-child a {
    border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
    background-color: #f6f6f6;
    color: #000;
    text-decoration: none;
}

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
    max-height: 250px;
    border: 3px solid #222;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color: #222;
    font-weight: normal;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
    max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
    display: none;
    /*float: left;*/
    position: relative;
}
.dk_container a {
    outline: 0;
}

.dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}

.dk_open {
    position: relative;
}
.dk_open .dk_options {
    display: block;
}
.dk_open .dk_label {
    color: inherit;
}

.dk_options {
    display: none;
    margin-top: -2px;
    position: absolute;
    left: 0;
    width: auto;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
    display: block;
}
.dk_options_inner {
    overflow: auto;
    position: relative;
}

.dk_touch .dk_options {
    overflow: hidden;
}

.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}

.dk_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
