/* ******************************

GENERAL

****************************** */

body {
    padding: 0;
    background-color:#fff;
    font-family: Asap, Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.4;
    color: #777;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #000;
}

h1 {
    color:#222;
    margin: 0 0 20px;
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
}

h2 {
    color:#222;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 964px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 3px;
    background-color: rgba(255,255,255,0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:none;
    margin-top:30px;
    margin-bottom:30px;
    clear:both;
}


/* ******************************

HEADER

****************************** */

header {
    margin: 0;
    color:#999;
    text-align: center;

    /* Fix for Internet Explorer 7 */
    position: relative;
    z-index: 1;

    /* Clearfix */
    *zoom: 1;
}

header:before,
header:after {
    display: table;
    content: "";
}
header:after {
    clear: both;
}

.logotype {
    font-size: 56px;
    line-height: 64px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.logotype img {
    max-height:50px;
}
.logotype .store_name {
    display:none;
}
.burger {
    display:none;
}

.main_navigation {
    background-color:#f6f6f6;
    font-size:15px;
    line-height: 17px;
}

.main_navigation ul {
    box-shadow: inset 0 3px 0 #e4e4e4;
}

.main_navigation li {
    display: inline-block;
    margin: 0 -2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    *float:left; /* IE 7 fix */

    border-right:solid 1px #f6f6f6;
}
.main_navigation a {
    display: inline-block;
    padding:22px 20px 20px;
    color:#797979;
    -webkit-transition: all .3s ease-in-out;
}
.main_navigation a:hover {
    color:#000;
    box-shadow: inset 0 4px 0 #d5d5d5;
}
.main_navigation .selected > a {
    color: #222;
    font-weight: bold;
    box-shadow: inset 0 4px 0 #00afd1;
}

.main_navigation.got_subnavigation.child_active .selected > a {
    color:#222;
    box-shadow: none;
}

.sub_navigation {
    font-size:14px;
}
.sub_navigation ul {
}
.sub_navigation li {
    display: inline-block;
    margin: 0 -2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    *float:left; /* IE 7 fix */

}
.sub_navigation a {
    display: inline-block;
    padding:15px 20px 15px;
    color:#555;
    -webkit-transition: all .3s ease-in-out;
}
.sub_navigation a:hover {
    color:#000;
    box-shadow: inset 0 4px 0 #d5d5d5;
}
.sub_navigation .selected > a {
    color: #222;
    font-weight: bold;
    box-shadow: inset 0 4px 0 #00afd1;
}

.search_container {
    position: relative;
    float:right;
    margin: 15px 0 0;
    vertical-align: top;
    font-size: 14px;
    line-height: 17px;
}



@media only screen and (max-width: 1024px) {
    header {
        text-align: center;
    }
    .navigation {
        border-top:solid 1px #eee;
        clear: both;
        text-align: center;
        float: none;
        padding-top:10px;
    }
    .search_container {
        position: absolute;
        top:10px;
        left:20px;
    }
}
@media only screen and (max-width: 575px) {
    header {
        padding:0;
        text-align: left;
        background-color:#f6f6f6;
        margin-bottom:30px;
        padding-top:30px;
    }
    .logotype {
        font-size: 20px;
        line-height: 40px;
        margin-bottom:0;
        margin-top:0;
        font-weight:bold;
        padding-left:16px;
    }

    .logotype img {
        display:none;
    }
    .logotype .store_name {
        display:inline;
    }
    .full_navigation {
        clear:both;
        display:none;
        padding-top:10px;
    }
    .main_navigation ul {
        box-shadow: none;
    }
    .main_navigation,
    .sub_navigation {
        float:none;
        text-align: left;
        border-top:none;
    }
    .sub_navigation {
        border-top:solid 1px #fff;
    }
    .main_navigation li,
    .sub_navigation li {
        display: block;
        margin:0;
        border-right:none;
    }
    .main_navigation li a,
    .sub_navigation li a {
        display: block;
        padding:10px 20px;
    }
    .main_navigation li a:hover,
    .sub_navigation li a:hover {
        box-shadow:none;
    }

    .main_navigation .selected > a,
    .sub_navigation .selected > a {
        color: #222;
        font-weight: bold;
        box-shadow: inset 4px 0 0 #00afd1;
    }

    .search_container {
        float: none;
        margin-top:0;
        position: static;
    }
    #tictail_search input {
        width:90%;
    }
    .burger {
        display: block;
        float: none;
        height: 30px;
        width: 30px;
        padding-top: 4px;
        position: absolute;
        bottom:2px;
        right:16px;
    }
    .burger .line {
        display: block;
        background-color: #222;
        height: 4px;
        margin: 4px 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

/* ******************************

SEARCH

****************************** */

#tictail_search input {
    width: 140px;
    margin: 0;
    padding: 8px 10px;
    background-color: #f8f6f6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f2f2), color-stop(100%, #fbf9f9));
    background: -webkit-linear-gradient(top, #f3f2f2 0%, #fbf9f9 100%);
    background: -moz-linear-gradient(top, #f3f2f2 0%, #fbf9f9 100%);
    background: -ms-linear-gradient(top, #f3f2f2 0%, #fbf9f9 100%);
    background: -o-linear-gradient(top, #f3f2f2 0%, #fbf9f9 100%);
    background: linear-gradient(top, #f3f2f2 0%, #fbf9f9 100%);
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 1px #e9e8e8;
    -moz-box-shadow: inset 0 0 1px #e9e8e8;
    box-shadow: inset 0 0 1px #e9e8e8;
    border-style:solid;
    border-width: 1px;
    border-color:#cdcbcb #edebeb #f0efef #d1d0d0;
    outline: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #888;
}

#tictail_search input:focus {
    background-color: #fff;
    outline: 0;
    color: #333;
}

#tictail_search_results {
    top: 30px;
    left: -51px;
    width: 230px;
    padding: 7px 0;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75), inset 0 1px 0 #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75), inset 0 1px 0 #fff;
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    color: #333;
}

#tictail_search_results .searching,
#tictail_search_results .no_results {
    padding: 7px 10px;
    color: #666;
}

#tictail_search_results .item {
    border-top: 0;
}

#tictail_search_results .result {
    padding: 7px 10px;
    color: #333;
    text-decoration: none;
}

#tictail_search_results .result:hover {
    color: #555;
    text-decoration: none;
}

#tictail_search_results .thumb img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#tictail_search_results .title {
    margin-top: 4px;
    font-weight: bold;
}

#tictail_search_results .price {
    font-size: 12px;
    color: #666;
}

@media only screen and (max-width: 768px) {
    #tictail_search_results {
        left: auto;
        right: 0;
    }
}

@media only screen and (max-width: 320px) {
    #tictail_search_results {
        right: 10px;
    }
}

/* ******************************

FOOTER

****************************** */

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    footer {
        height:40px;
    }
    footer hr {
        display:none;
    }
}



/* ******************************

ABOUT PAGE

****************************** */

.about_page {
    /* Fix for Internet Explorer 7 */
    position: relative;
    z-index: 1;

    /* Clearfix */
    *zoom: 1;
}

.about_page:before,
.about_page:after {
    display: table;
    content: "";
}
.about_page:after {
    clear: both;
}

@media only screen and (max-width: 1024px) {
    .about_page {
        padding:0 30px;
    }
}
@media only screen and (max-width: 768px) {
    .about_page .store_description {
        padding-top:30px;
        clear:left;
    }
}

/* ******************************

LIST PAGE

****************************** */

.product_list {
    margin: 0 -15px 100px;
}

.product_list li {
    width: 33.3%;
    text-align: center;
}

.product_list a {
    display: block;
    margin: 0 15px 30px;
    position: relative;
    background-color:#000;
}
.product_list a:hover .image_container,
.product_list a:hover .info {
    opacity: 0.9;
}

.product_list .image_container {
    position: relative;
    display: inline-block;
    width: 100%;
    opacity: 0.97;
    -webkit-transition: all .3s ease-in-out;
}

.product_list .image_container img {
    width: 100%;
    margin-bottom:-6px;
}
.product_list .info {
    background-color:#fff;
    opacity: 0.95;
    padding:20px 20px;
    -webkit-transition: all .3s ease-in-out;
}

.product_list h2,
.product_list h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:3px;
}

.product_list .price {
    font-size:15px;
    font-weight: normal;
    color:#777;
}

.product_list .out_of_stock {
    opacity:0.3;
}
.product_list a:hover .out_of_stock {
    opacity: 0.6;
}


@media only screen and (max-width: 1024px) {
    .product_list {
        margin: 0 10px -20px;
    }
}

@media only screen and (max-width: 768px) {
    .product_list li {
        width: 49.9%;
    }
    .product_list .info {
        padding:12px 12px;
    }
}
@media only screen and (max-width: 575px) {
    .product_list a {
        margin: 0 8px 30px;
    }
}

@media only screen and (max-width: 400px) {
    .product_list li,
    .product_list .image_container,
    .product_list .image_container img {
        width: 100%;
    }
}

/* ******************************

PRODUCT PAGE

****************************** */

.product_info {
}

.product_info .slider_container {
    width: 40%;
    text-align: center;
    float:left;

    background-color:#000;
    overflow: hidden; /* Clearfix! */
    zoom: 1;
    display: block;
}
.product_info .image_container {
    background-color: #fff;
    opacity: 0.97;
}

.product_info .image_container .tictail_slideshow {
    max-width: 500px;
    margin: 0 auto;
    padding:0;
}

.product_info .image_container img {
    max-width: 100%;
    max-height:600px;
}

.product_info .image_container figcaption {
    margin-top: 20px;
    font-size: 11px;
    line-height: 14px;
    color: #a5a4a4;
}

.product_info .details_container {
    width: 60%;
    float:left;
}

.product_info .details_container .inner_container {
    padding: 0 0 0 40px;
}

.product_info .description a:hover {
    color: #888;
}

.product_info .buy_container {
    width:20%;
    text-align: center;
}
.product_info .price {
}

.product_info .description {
    margin: 20px 0 30px;
}

.product_info .description a {
    color: #ccc;
    text-decoration: underline;
}

.product_info .variations_container .dk_toggle .dk_label {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;

    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.product_info .variations_container .dk_toggle .dk_label:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    content: "\f0ca";
    margin-right:5px;
}
.product_info .variations_container .dk_toggle .dk_label:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    content: "\f0dd";
    margin-left:5px;
    position: relative;
    top: -4px;
}

.product_info .add_to_cart {
    float:left;
}

.product_info .out_of_stock {
    margin: 20px 0;
    color: #777;
    font-weight: bold;
}

.product_info .tictail_social_buttons {
    margin: 30px 0;
}

.product_info .terms {
    clear:both;
    font-size: 15px;
    font-weight: bold;
    padding-top:15px;
}
.product_info .terms a {
    white-space: nowrap;
}


@media only screen and (max-width: 1024px) {

    .product_info {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 575px) {
    .product_info .slider_container,
    .product_info .image_container,
    .product_info .details_container,
    .product_info .buy_container {
        width: 100%;
    }

    .product_info {
        margin: 0 16px;
    }

    .product_info .image_container img {
        max-height:400px;
    }
    .product_info .details_container .inner_container {
        padding: 0 0;
    }

    .product_info .slider_container {
        margin-bottom: 20px;
    }

    #related_products h2 {
        margin: 0 0 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    .product_info h1 {
        margin: 0 0 10px;
    }

    .product_info .price {
    }
}


/* ******************************

"ADD TO CART" BUTTON

****************************** */

.tictail_add_to_cart_button {
    min-width: 128px;
    margin: 0;
    padding: 12px 20px;
    background-color:transparent;
    border: solid 3px #222;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    color:#222;
    font-weight: bold;
    font-size: inherit;
    display:inline-block;
    -webkit-transition: all .3s ease-in-out;
}
.tictail_add_to_cart_button:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    margin-right:2px;
    content: "\f07a";
}

.tictail_add_to_cart_button:hover {
    background-color:#222;
    color:#fff;
}
.tictail_add_to_cart_button:hover:before {
    content: "\f004";
}

.tictail_add_to_cart_button:active{
    background-color:#000;
    background-image: none;
}