/* ******************************

GENERAL

****************************** */

body {
    padding: 0;
    background-color:#fff;
    font-family: Asap, Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.4;
    color: #777;
}

a {
    color: #222;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
     -moz-transition: color 0.2s ease-in-out;
       -o-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
}

a:hover {
    color: #777;
}

h1 {
    color:#222;
    margin: 0 0 20px;
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
}

h2 {
    color:#222;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

b {
    font-weight: bold;
}

small {
    font-size:80%;
}

.container {
    max-width: 964px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1024px) {
    .container {
        margin-left:15px;
        margin-right:15px;
    }
}


hr {
    height: 1px;
    background-color: transparent;
    border:none;
    margin-top:30px;
    margin-bottom:30px;
    clear:both;
}

.force-show {
    display:block !important;
}


/* ******************************

HEADER

****************************** */

header {
    margin: 0;
    color:#999;
    text-align: center;

    /* Fix for Internet Explorer 7 */
    position: relative;
    z-index: 1;

    /* Clearfix */
    *zoom: 1;
}

header:before,
header:after {
    display: table;
    content: "";
}
header:after {
    clear: both;
}

.logotype {
    font-size: 56px;
    line-height: 64px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.logotype.with_logotype .store_name {
    display:none;
}
.burger {
    display:none;
}

.main_navigation {
    background-color:#333;
    font-size:15px;
    line-height: 17px;
    margin-bottom:30px;
}

.main_navigation > ul {
    -webkit-box-shadow: inset 0 3px 0 #777;
       -moz-box-shadow: inset 0 3px 0 #777;
            box-shadow: inset 0 3px 0 #777;
}

.main_navigation > ul > li {
    display: inline-block;
    margin: 0 -2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    *float:left; /* IE 7 fix */

    border-right:solid 1px #333;
    overflow: hidden;
}
.main_navigation > ul > li > a {
    display: inline-block;
    padding:22px 15px 18px;
    color:#bbb;
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.main_navigation > ul > li > a:hover {
    color:#fff;
    -webkit-box-shadow: inset 0 4px 0 #d5d5d5;
       -moz-box-shadow: inset 0 4px 0 #d5d5d5;
            box-shadow: inset 0 4px 0 #d5d5d5;
}
.main_navigation > ul > li.selected > a {
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: inset 0 4px 0 #00afd1;
       -moz-box-shadow: inset 0 4px 0 #00afd1;
            box-shadow: inset 0 4px 0 #00afd1;
}
.main_navigation .search_item {
    padding:8px 10px;
}

.main_navigation.got_subnavigation {
    margin-bottom:1px;
}
.main_navigation.got_subnavigation.child_active > li.selected > a {
    color:#fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.sub_navigation {
    background-color:#f2f2f2;
    font-size:14px;
    margin-bottom:30px;
}
.sub_navigation > ul {
}
.sub_navigation > ul > li {
    display: inline-block;
    margin: 0 -2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    *float:left; /* IE 7 fix */

}
.sub_navigation > ul > li > a {
    display: inline-block;
    padding:10px 20px;
    color:#555;
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.sub_navigation > ul > li > a:hover {
    color:#000;
    -webkit-box-shadow: inset 0 4px 0 #d5d5d5;
       -moz-box-shadow: inset 0 4px 0 #d5d5d5;
            box-shadow: inset 0 4px 0 #d5d5d5;
}
.sub_navigation > ul > li.selected > a {
    color: #222;
    font-weight: bold;
    -webkit-box-shadow: inset 0 4px 0 #00afd1;
       -moz-box-shadow: inset 0 4px 0 #00afd1;
            box-shadow: inset 0 4px 0 #00afd1;
}

#tictail_search_results {
    position: absolute !important;
    width:100%;
    left:0 !important;
    top:215px !important;
}
#tictail_search_results .product_list .image_container img {
    margin-bottom: -3px;
}


@media only screen and (max-width: 1024px) {
    header {
        text-align: center;
        margin-left:25px;
        margin-right:25px;
    }
    .navigation {
        border-top:solid 1px #eee;
        clear: both;
        text-align: center;
        float: none;
        padding-top:10px;
    }
}
@media only screen and (max-width: 575px) {
    header {
        padding:0;
        text-align: left;
        background-color:#333;
        margin-bottom:30px;
        border-top:solid 41px #e4e4e4;
    }
    header.container {
        margin-left:0;
        margin-right:0;
    }

    .logotype {
        font-size: 20px;
        line-height: 40px;
        margin-bottom:0;
        margin-top:0;
        font-weight:bold;
        padding-left:16px;
        color:#fff;
    }

    .logotype img {
        display:none;
    }
    .logotype .store_name,
    .logotype.with_logotype .store_name {
        display:inline;
    }
    .full_navigation {
        clear:both;
        display:none;
        padding-top:10px;
    }
    .main_navigation > ul {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    .main_navigation,
    .sub_navigation {
        float:none;
        text-align: left;
        border-top:none;
    }
    .sub_navigation {
        border-top:solid 1px #fff;
    }
    .main_navigation > ul > li,
    .sub_navigation > ul > li {
        display: block;
        margin:0;
        border-right:none;
    }
    .main_navigation > ul > li > a,
    .sub_navigation > ul > li > a {
        display: block;
        padding:10px 20px;
    }
    .main_navigation > ul > li > a:hover,
    .sub_navigation > ul > li > a:hover {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    .main_navigation > ul > li.selected > a,
    .sub_navigation  > ul > li.selected > a {
        color: #222;
        font-weight: bold;
        -webkit-box-shadow: inset 4px 0 0 #00afd1;
           -moz-box-shadow: inset 4px 0 0 #00afd1;
                box-shadow: inset 4px 0 0 #00afd1;
    }

    .burger {
        display: block;
        float: none;
        height: 30px;
        width: 30px;
        position: absolute;
        bottom:2px;
        right:16px;
    }
    .burger .line {
        display: block;
        background-color: #bbb;
        height: 4px;
        margin: 3px 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #tictail_search_results {
        width:90%;
        left:5% !important;
    }
}
@media only screen and (max-width: 400px) {
    header {
        margin-bottom:15px;
    }
}

/* ******************************

SEARCH

****************************** */

#tictail_search {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color:#fff;
    margin-left:10px;
    width:100px;
    position:static;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-transition: box-shadow 0.3s ease-in-out;
     -moz-transition: box-shadow 0.3s ease-in-out;
       -o-transition: box-shadow 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out;
}
#tictail_search.search-loading {
    -webkit-box-shadow: inset 380px 0 0 #eee;
       -moz-box-shadow: inset 380px 0 0 #eee;
            box-shadow: inset 380px 0 0 #eee;
    -webkit-transition: box-shadow ease-in-out 3s;
     -moz-transition: box-shadow ease-in-out 3s;
       -o-transition: box-shadow ease-in-out 3s;
          transition: box-shadow ease-in-out 3s;

}

.tictail_search:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    margin-left:14px;
    content: "\f002";
}

#tictail_search input {
    margin: 0;
    padding: 25px;
    padding: 10px 2px;
    background-color:transparent;
    border: none;
    width:100%;
    box-sizing: border-box;
    font-size:15px;
    font-family: Asap, Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight:normal;
    color:#777;
    -webkit-appearance: none;
}
#tictail_search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
}
#tictail_search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #aaa;
}
#tictail_search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #aaa;
}
#tictail_search input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #aaa;
}

#tictail_search input:focus {
    outline: 0;
    color: #777;
}

#tictail_search_results {
    position: static;
    border:none;
    background-color: transparent;
    margin-bottom:30px;
    width:100%;
    left:auto;
    top:auto;
    text-align: left;
}

#tictail_search_results .searching,
#tictail_search_results .no_results {
}

@media only screen and (max-width: 768px) {
    #tictail_search input {
        width:50%;
    }
}

@media only screen and (max-width: 575px) {
    #tictail_search {
        width:90%;
        margin-bottom:10px;
    }
    #tictail_search input {
        width:100%;
    }
    #search_container {
        display:block !important;
    }
}

/* ******************************

FOOTER

****************************** */

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    footer {
        height:40px;
    }
    footer hr {
        display:none;
    }
}



/* ******************************

ABOUT PAGE

****************************** */

.about_page {
    /* Fix for Internet Explorer 7 */
    position: relative;
    z-index: 1;

    /* Clearfix */
    *zoom: 1;

    width:65%;
    margin:0 auto;
}

.about_page:before,
.about_page:after {
    display: table;
    content: "";
}
.about_page:after {
    clear: both;
}


@media only screen and (max-width: 1024px) {
    .about_page {
        width:85%;
    }
}
@media only screen and (max-width: 575px) {
    .about_page {
        width:100%;
    }
}


/* ******************************

LIST PAGE

****************************** */

.product_list {
    margin: 0 -15px 100px;
}

.product_list li {
    width: 33.3%;
    text-align: center;
    float:left;
}

.product_list a {
    display: block;
    margin: 0 15px 30px;
    position: relative;
    background-color:#000;
}
.product_list a:hover .image_container,
.product_list a:hover .info {
    opacity: 0.9;
}

.product_list .image_container {
    position: relative;
    display: inline-block;
    width: 100%;
    opacity: 0.97;
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.product_list .image_container img {
    width: 100.1%;
    margin-bottom:-6px;
}
.product_list .info {
    background-color:#fff;
    opacity: 0.95;
    padding:20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.product_list h2,
.product_list h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:3px;
}

.product_list .price {
    font-size:15px;
    font-weight: normal;
    color:#777;
}

.product_list .out_of_stock {
    opacity:0.3;
}
.product_list a:hover .out_of_stock {
    opacity: 0.6;
}


@media only screen and (max-width: 1024px) {
    .product_list {
        /*margin: 0 10px -20px;*/
    }
}

@media only screen and (max-width: 768px) {
    .product_list li {
        width: 49.9%;
    }
    .product_list .info {
        padding:12px 12px;
    }
}
@media only screen and (max-width: 575px) {
    .product_list {
        margin-left:-8px;
        margin-right:-8px;
    }
    .product_list a {
        margin: 0 8px 16px;
    }
}

@media only screen and (max-width: 400px) {
    .product_list li,
    .product_list .image_container,
    .product_list .image_container img {
        width: 100%;
    }
    .product_list a {
        margin: 0 8px 15px;
    }
}

/* ******************************

PRODUCT PAGE

****************************** */

.product_info {
}
.product_info .slider_container {
    width: 50%;
    float:left;
}
.product_info .slider_background {
    margin-right:15px;
    text-align: center;

    background-color:#000;
    overflow: hidden; /* Clearfix! */
    zoom: 1;
    display: block;
}
.product_info .image_container {
    background-color: #fff;
    opacity: 0.97;
}

.product_info .image_container .tictail_slideshow {
    max-width: 500px;
    margin: 0 auto;
    padding:0;
}

.product_info .image_container img {
    max-width: 100%;
    max-height:600px;
}

.product_info .details_container {
    width: 50%;
    float:left;
}

.product_info .details_container .inner_container {
    padding: 0 0 0 15px;
}

.product_info .description a:hover {
    color: #888;
}

.product_info .buy_container {
    width:20%;
    text-align: center;
}
.product_info h1 {
    margin-bottom:3px;
}
.product_info .price {
    color:#222;
    font-weight: bold;
}

.product_info .description {
    margin: 20px 0 30px;
}

.product_info .description a {
    color: #ccc;
    text-decoration: underline;
}

.product_info .variations_container .dk_toggle .dk_label {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;

    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.product_info .variations_container .dk_toggle .dk_label:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    content: "\f0ca";
    margin-right:5px;
}
.product_info .variations_container .dk_toggle .dk_label:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    content: "\f0dd";
    margin-left:5px;
    position: relative;
    top: -4px;
}

.product_info .add_to_cart {
    float:left;
}

.product_info .out_of_stock {
    margin: 20px 0;
    color: #777;
    font-weight: bold;
}

.product_info .tictail_social_buttons {
    margin: 30px 0;
}

.product_info .terms {
    clear:both;
    font-size: 15px;
    font-weight: bold;
    padding-top:15px;
}
.product_info .terms a {
    white-space: nowrap;
}

#related_products h2.might-like {
    margin:0 0 15px;
    font-size: 15px;
}



@media only screen and (max-width: 1024px) {
    /*
    .product_info {
        margin: 0 25px;
    }
    #related_products h2.might-like {
        margin-left:25px;
    }
    */
}

@media only screen and (max-width: 768px) {
    .product_info .slider_container,
    .product_info .details_container  {
        width: 49.9%;
    }
}

@media only screen and (max-width: 575px) {
    .product_info .slider_container,
    .product_info .image_container,
    .product_info .details_container,
    .product_info .buy_container {
        width: 100%;
    }
    /*
    .product_info {
        margin: 0 16px;
    }
    */
    .product_info .slider_background {
        margin-right:0;
    }
    .product_info .image_container img {
        max-height:400px;
    }
    .product_info .details_container .inner_container {
        padding: 0 0;
    }

    .product_info .slider_container {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) {

    .product_info h1 {
        margin: 0 0 10px;
    }

    .product_info .price {
    }
}


/* ******************************

"ADD TO CART" BUTTON

****************************** */

.tictail_add_to_cart_button {
    min-width: 128px;
    margin: 0;
    padding: 13px 21px;
    background-color:#00d10f;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    font-size: inherit;
    display:inline-block;
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.tictail_add_to_cart_button:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    margin-right:2px;
    content: "\f07a";
}

.tictail_add_to_cart_button:hover {
    background-color:#00bc0d;
    color:#fff;
}
.tictail_add_to_cart_button:hover:before {
    content: "\f004";
    margin-right:1px;
}

.tictail_add_to_cart_button:active{
    background-color:#000;
    background-image: none;
}
@media only screen and (max-width: 575px) {
    .product_info .add_to_cart {
        float:none;
    }
    .tictail_add_to_cart_button {
        width:100%;
    }
    .dk_container {
        float:none !important;
        margin: 0 0 15px !important;
    }
    .dk_container .dk_toggle {
        width:100% !important;
        box-sizing: border-box;
        text-align: center;
    }
    .tictail_variations_select {
        width:100%;
        margin-bottom:15px;
    }
}
