{{#about_page}}
    <article class="about_page">
        <h1>{{#lang}}About{{/lang}}</h1>

        <div class="store_description">
            {{{store_description}}}
        </div>
    </article>
{{/about_page}}