{{#about_page}}
    <article class="about_page">
        <h1>{{#lang}}About{{/lang}}</h1>

        <div class="store_description">
            {{{store_description}}}

            <br /><br />
            {{#store_email}}
                <p class="desktop_only">
                    Contact: <a href="mailto:{{store_email}}">{{#lang}}{{store_email}}{{/lang}}</a>
                </p>
            {{/store_email}}
        </div>
    </article>
{{/about_page}}
