<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {{store_name}}
        {{! Add the label of the current navigation item on list pages }}
        {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
        {{! Add the product title on product pages }}
        {{#product_page}}{{#product}}- {{title}}{{/product}}{{/product_page}}
        {{! Add "About" on the about page }}
        {{#about_page}}- {{#lang}}About{{/lang}}{{/about_page}}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="{{assets_url}}/771/css/anythingslider.css" rel="stylesheet" type="text/css">
    <link href="{{assets_url}}/shared/css/base.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="/dropkick.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="{{assets_url}}/shared/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>

    <div class="full_navigation">

        <nav class="main_navigation {{#navigation}}{{#is_current}}{{#has_children}}got_subnavigation{{#children}}{{#is_current}} child_active{{/is_current}}{{/children}}{{/has_children}}{{/is_current}}{{/navigation}}">
            <ul class="container">
                <li class="navigation_item {{#is_current}}selected{{/is_current}}">
                    <a href="/">
                        <i class="icon-th"></i> &nbsp;All items
                    </a>
                </li>
                {{#navigation}}
                <li class="navigation_item {{#is_current}}selected{{/is_current}}">
                    <a href="{{url}}">
                        {{label}}
                    </a>
                </li>
                {{/navigation}}

                {{#store_blog_url}}
                <li class="store_link">
                    <a href="{{store_blog_url}}" target="_blank">
                        <i class="icon-rss"></i> &nbsp;{{#lang}}Blog{{/lang}}
                    </a>
                </li>
                {{/store_blog_url}}

                <li class="store_link {{#about_page}}selected{{/about_page}}">
                    <a href="/about">
                        <i class="icon-info"></i> &nbsp;{{#lang}}About{{/lang}}
                    </a>
                </li>
            </ul>
        </nav>

        {{#navigation}}
            {{#is_current}}
                {{#has_children}}
                    <nav class="sub_navigation">
                        <ul class="container">
                            {{#children}}
                                <li {{#is_current}} class="selected"{{/is_current}}>
                                    <a href="{{url}}">
                                        {{label}}
                                    </a>
                                </li>
                            {{/children}}
                        </ul>
                    </nav>
                {{/has_children}}
            {{/is_current}}
        {{/navigation}}

    </div>

    <a class="logotype" href="{{store_url}}">
        {{#logotype}}
            <img src="{{url-300}}" alt="{{store_name}}">
        {{/logotype}}
        {{#no_logotype}}
            {{store_name}}
        {{/no_logotype}}
    </a>
</header>

<div class="container">
    {{{yield}}}
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{assets_url}}/771/jquery.dropkick-1.0.0.js"></script>
<script>
$('.tictail_variations_select').dropkick({
    width: 160,
    height: 30
});
</script>

<script src="{{assets_url}}/shared/js/jquery.masonry.2.1.03.min.js"></script>
<script>
$('.product_list').imagesLoaded(function() {
    var list = this,
        rearrange = function() {
            list.masonry({
                itemSelector: '.column'
            });
        };

    rearrange();
    $(window).resize(rearrange);
});

var full_navigation = $('.full_navigation');
$('header .burger').click(function() {
    if ($(window).width() < 575) {
        if (full_navigation.is(':visible')) {
            full_navigation.slideUp();
        } else {
            full_navigation.slideDown();
        }
    }
});
</script>

{{> tictail/misc}}

<script id="theme-builder" src="/theme-builder.js"></script>

</body>
</html>

<!--
Want to create your own Tictail theme?
Check out the documentation at https://tictail.com/docs
-->