{{#product_page}}
    <article id="product" itemscope itemtype="http://schema.org/Product">
        {{#product}}
            <section class="product_info">
                <h1 itemprop="name">{{title}}</h1>

                {{! The #add_to_cart block is only rendered if the product is in stock }}
                 <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <span itemprop="price">{{{price_with_currency}}}</span>

                    {{! This is meta data for search engines etc. }}
                    <meta itemprop="priceCurrency" content="{{currency_code}}">
                    {{#in_stock}}
                    <link itemprop="availability" href="http://schema.org/InStock">
                    {{/in_stock}}
                    {{#out_of_stock}}
                    <link itemprop="availability" href="http://schema.org/OutOfStock">
                    {{/out_of_stock}}
                </div>

                {{#add_to_cart}}
                    <div class="add_to_cart">
                        {{#add_to_cart_button}}
                            {{#lang}}Add to cart{{/lang}}
                        {{/add_to_cart_button}}
                    </div>
                    <div class="variations_container">
                        {{#variations_select}}{{/variations_select}}
                    </div>
                {{/add_to_cart}}

                {{! This block will be rendered instead of the #add_to_cart block when the product is out of stock }}
                {{#out_of_stock}}
                <div class="out_of_stock">
                    {{#lang}}This product is out of stock{{/lang}}
                </div>
                {{/out_of_stock}}

                <div class="description html_content" itemprop="description">
                    {{{description}}}
                </div>

                {{{social_buttons}}}
            </section>

            <section class="product_images">
                {{#all_images}}
                    <img src="{{url-500}}" />
                {{/all_images}}
            </section>
        {{/product}}

        {{! Render a list of related products if there are any }}
        {{!#related_products?}}
        <aside id="related_products" class="related_products">

            <div class="related_products_title">
                <h2>{{#lang}}Related products{{/lang}}</h2>
            </div>

            <ul class="product_list">
                {{#related_products}}
                <li>
                    <a href="{{url}}" {{#out_of_stock}}class="out_of_stock"{{/out_of_stock}}>
                        <div class="image_container">
                            {{#primary_image}}
                                <img src="{{url-300}}" alt="{{title}}">
                            {{/primary_image}}
                        </div>
                        <div class="info">
                            <h2>{{title}}</h2>
                            {{#in_stock}}
                            <h4 class="price">{{{price_with_currency}}}</h4>
                            {{/in_stock}}
                            {{#out_of_stock}}
                            <h4 class="price out_of_stock_price">{{#lang}}Out of stock{{/lang}}</h4>
                            {{/out_of_stock}}
                        </div>
                    </a>
                </li>
                {{/related_products}}
            </ul>
        </aside>
        {{!/related_products?}}
    </article>

{{/product_page}}
